*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #c9decf;
    color: #333;
    line-height: 1.6em;
}
a{
    text-decoration: none;
    color: #333;
}
ul{
    list-style: none;
}
img{
    width:100%;
}
h1, h2, h3, h4, h5, h6{
    line-height: 1.3rem;
    margin-bottom: 0.55rem;
}

#main-header {
    display: grid;
    grid-template-columns: 0.5fr 9fr;
}
.side-contact-bar{
    background: rgb(247, 244, 244);
    height: 100vh;
    text-align: center;
    
}
.side-contact-bar ul{
    margin-top: 30vh;
}
.side-contact-bar ul li{
    padding: 0.75rem;
}

/* utility classs */
.container{
    height: 16vh;
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
}
/* navigation  */
.nav-bar{
    background: #c9decf;
    position:sticky;
    top: 0;
    z-index: 2;
}

.nav-bar .container{
    display: grid;
    grid-template-columns: 3fr 6fr;
    padding: 1rem;
    align-items: center;
}

.nav-bar .container .logo{
    text-align: center;
}

.nav-bar .container ul .current{
    color: #fff;
    background: #adc7b4;
}

.nav-bar ul {
    justify-self: end;
    display:flex;
}
.nav-bar ul li a{
    padding: 1rem;
    font-weight: none;
    font-size: 17px;
}

.nav-bar ul li a:hover{
    color:#fff;
    background:#adc7b4;
    border-radius: 7%;
}
.container .logo{
    height: 70px;
    width: 200px;
}
.first-section{
    max-width: 900px;
    margin: auto;
}
.first-section .container{
    height: 84vh;
}
.first-section .container .card{
    height: 400px;
    width: 1250px;
    background: #adc7b4;
    margin: 50px auto;
}
.first-section .container .img-bottom-text{
    /* display: flex;
    float: right; */
    margin-top: 30px;
    /* font-size: 19px; */
    
}
.first-section .container .img-bottom-text h1{
   text-align: right;
}
.btn{
    margin: 20px 100px;
    padding: 10px 40px;
    background: #c9decf;
    display: flex;
    float: right;
}

